@import "~antd/dist/antd.css";

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  display: flex;
  background-color: var(--secondary-color);
  * {
    color: white;
  }
  path{
    color: black;
  }
}

:root {
  --primary-color: #e521a8;
  --secondary-color: #8c8c8c;
  --shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

.ant-tabs-content-top {
  height: 100%;
}
